h1{
    text-align: center;
}
body {
    text-align: center;
}
form {
    display: inline-block;
}
input[type=submit] {
    padding: 5px 15px; 
    background: #ccc; 
    border: 0 none;
    cursor: pointer;
    background-color: #a1a5a1;
}
input[type=file] {
    padding: 5px 15px; 
    cursor: pointer;
}